spring:
  profiles:
    active: dev

---
spring:
     profiles:
       active: dev
     application:
       name: microservice-config-client-dev1 #服务端名称
# 注册进入eureka
eureka:
  client:
    service-url:
      defaultZone: http://eureka9003.com:9003/eureka/,http://eureka9002.com:9002/eureka/,http://eureka9001.com:9001/eureka/

server:
  port: 88980

---
spring:
  profiles:
    active: test
  application:
    name: microservice-config-client-test #服务端名称
# 注册进入eureka
eureka:
  client:
    service-url:
      defaultZone: http://eureka9003.com:9003/eureka/,http://eureka9002.com:9002/eureka/,http://eureka9001.com:9001/eureka/
server:
  port: 8899